// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
//Google Fonts
// <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto&display=swap" rel="stylesheet"> 
//End Google Fonts

html {

} 

body {
	
	height: 100%;
	font-family: @bodyFont;
	font-size: 62.5%;//62.4% of 16px (html page standard)=== 10px 
	margin: 0 auto;
	background-color: rgba(116, 227, 255, 0.199);
	// margin-top: 3rem;
	
}

//Variables
@phone: 600px;
@tablet: 800px;
@computer: 1000px;
@borderColor: lightgrey;
@borderRadius: 10px;
@bodyFont: 'Lato', sans-serif;
@titleFont: 'Montserrat', sans-serif;
// font-family: 'Montserrat', sans-serif;
//'Lato', sans-serif;
//'Roboto', sans-serif;
//End Variables

//Mixin Functions
.flexDisplay(@justify:space-between, @align:flex-start){
	justify-content: @justify;
	align-items: @align;
}
.padRL(@equal){
	padding-right: @equal;
	padding-left: @equal;
}
.marginRL(@left,@right:@left){
	margin-left: @left;
	margin-right: @right;
}
.box-shadow(@h-offset:0, @v-offset:20px, @blur:30px, @spread:0, @color:#5c5c5c ){
	box-shadow:0 20px 30px #5c5c5c;
}
.border-rad(@borderRadius: 12px){
	border-radius: @borderRadius;
}

//End Mixin Functions

//Main Container
.container {
	// .flexDisplay("space-between", "center");
	// border: 2px solid @borderColor;
	// display: flex;
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
		@media(max-width: @phone){
			border: none;
		}
		.pageTitle {
			@media(max-width: @phone){
			// text-align: center;
			}
			
		}
	// .pageTitle {
		// display: flex;
		h1 {
			font-family: @titleFont;
			font-size: 4rem;
			margin-top: 5%;
			// margin: 0 auto; 
			.flexDisplay(center, center);
		}
	// }
}//End Main Container

//Header & Nav
.container {
	margin-top: 3rem;
	.pageTitle {
		margin-top: 3rem;
		@media(max-width: @phone){
			text-align: center;
		}
	}
	header {
		display: flex;
		.flexDisplay(space-between, center);
		margin: 2rem;
		margin-left: 0;
		h1 {
			margin-right: 2rem;
			margin-left: 1rem;
		}
		@media(max-width: @phone){
			flex-direction: column;
		}
		nav {
			.flexDisplay(space-around, center);
			max-width: 100%;
			display: flex;
			font-size: 1.5rem;
			margin-right: 1%;

			@media(max-width: @phone){
				flex-direction: column;
			}//changes the nav flex axis


			a {
				margin-top: 10%;
				// display: inline-block;
				// border-top: 2px solid @borderColor;
				text-decoration: none;
				.padRL(3%);
				&:hover {
					color: red;
				}
				button {
					padding: 1rem; 
					background-color: rgba(9, 255, 0, 0.205);
					// padding-top: 5%;
					width: 5rem;
					.border-rad();
					text-align: center;
					vertical-align: center;

					&:hover {
						background-color: rgba(60, 255, 0, 0.692);
						color: grey;
					}
				}
				@media(max-width: @phone){
					// width: @phone; 
					overflow: hidden;
					// margin-right: 5%;
					
					
					text-align: baseline; 
					
					button {

						padding: 1rem 2rem; 
						background-color: rgba(9, 255, 0, 0.205);
						padding-top: 5%;
						width: 15rem;
						border-radius: @borderRadius;

						&:hover {
							background-color: rgba(60, 255, 0, 0.692);
							color: grey;
						}
					}
					// border-top: 2px solid @borderColor;
					// border-left: 2px solid @borderColor;
					// flex-direction: column;

					&:last-child{
						padding-bottom: 5%;
						border-bottom: 2px solid @borderColor;
					}


					.flexDisplay(space-between, center);
					&:hover {
						color: yellow;
					}
				}

	
				// justify-content: space-between;
			}
		}
	}
}//End Container, Header & Nav
.container {
	.intro { 
		margin: 2% 0%;
		display: flex;
		.flexDisplay(space-around);
		
		
		@media(max-width: @phone){
			flex-direction: column;
		}

		h1 {
			font-size: 3.5rem;
			margin: 2%;
		}
		h2 {
			font-size: 2rem;
			text-align: center;
		}
		div {
			width: 45%;
			
			p {
				margin-top: 1%;
				font-size: 1.8rem;
				text-align: center;
			}
			@media(max-width: @tablet){
			
			}
			@media(max-width: @phone){
			width:100%;
			// display: flex;
			}
		}
		.flexMe {
			display: flex;
			flex-wrap: wrap;
			// grid-template-columns: 1fr 1fr;
			// grid-column-gap: 1rem;
			.flexDisplay(space-evenly, center);
			
			h1 {
				text-align: center;
			}
		}
		.manImage {
			min-width: 45%;
			max-width: 85%;
			margin: 2rem;
			.border-rad();
			.box-shadow();
		}
		.sideText {
			margin-top: 2rem;
			padding: 4rem;
			background-color: lightgrey;
			.box-shadow();
			.border-rad();
		}
	}

}//End container

.container {
	.skills {
		
		font-size: 1.75rem;
		font-weight: 800;
		margin-bottom: 2rem;
		padding: 1rem;
		background-color: rgb(226, 105, 131);
		.border-rad();
		.box-shadow();
		h1 {
			margin-bottom: 2rem;
		}
		tr td {
			width: 2rem;
			padding: 1rem;
			text-align: center;
			vertical-align: center;
			border: 2px solid black;
			// line-height: 2;
			// word-break: all;
			&:hover {
				td  {
					transform: scale(1,1);
					transition-duration: 1.25s;
					transition-timing-function: ease-in-out;
				}
			}

		}		
		@media(max-width: @phone){
			font-size: 1.25rem;
		}
	}
	.copyright {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}

.container {
	.bottom {
		margin-top: 2rem;
	// margin: 2% 0%;
	display: flex;
	.flexDisplay(space-between, center);
	flex-wrap: wrap;
	
	@media(max-width: @phone){
		flex-direction: column;
		flex-wrap: wrap flex;

		h1 {
			margin: 0;
		}
	}

	h1 {
		font-size: 3.5rem;
		margin: 2%;
	}
	// h2 {
	// 	font-size: 2rem;
	// 	text-align: center;
	// }
	.right {
		width: 45%;
		// margin-top: 1%;
		font-size: 3.5rem;
		text-align: center;


	.history {	
				margin-bottom: 3rem;
				ul, li {
					// margin-top: 1%;
					font-size: 1.5rem;
					// padding-left: 3rem;
					// margin-left: 2rem;
					text-align: left;
					list-style-type: disc;
					list-style-position: inside;
				}
				@media(max-width: @tablet){
				
				}
				@media(max-width: @phone){
				width:100%;
				padding-left: 0;
				margin-left: 0rem;
				// display: flex;
				}
			}
		}
	}
}
.container {
	.contact {
		margin-top: 2rem;
		font-size: 2rem;
		margin-bottom: 2rem;
		text-align: center;
		padding: 2rem;
		background-color: rgba(79, 107, 235, 0.842);
		.box-shadow();
		.border-rad();
	}
}